
 <h1> Graph Page </h1>
 <h2> Total number of Respondents: <span class="total-respos"> <span></h2>

<div class="q1graph">
  <h2> Question One: What is your age group? </h2>
  <svg width="960" height="500"></svg>

</div>

<div class="q2graph">
  <h2> Question 2: How many years of programming experience have you got? </h2>
</div>



 <div class="q3Graph">
  <h2> Question 3 </h3>
 </div>
