<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="box">
    <form class="question_1" action="/" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <h4 class="subtitle is-4" id="question_1">Question 1: <br><br>What is your age group?</h4>
      <input type="radio" name="question_1" value="20under"> 20 and under
      <input type="radio" name="question_1" value="21to30"> Between 21 and 30
      <input type="radio" name="question_1" value="31to40"> Between 31 and 40
      <input type="radio" name="question_1" value="41above"> 41 and above
    <form class="question_2" action="/" method="post">
      <h4 class="subtitle is-4" id="question_2">Question 2: <br><br>How many years of programming experience have you got?</h4>
      <input type="radio" name="question_2" value="3under"> 3 years and under
      <input type="radio" name="question_2" value="4to7"> Between 4 and 7 years
      <input type="radio" name="question_2" value="8above"> 8 years and above
    <form class="question_3" action="/" method="post">
      <h4 class="subtitle is-4" id="question_3">Question 3: <br><br>Was the speaker engaging?</h4>
      <input type="radio" name="question_3" value="yes"> YES
      <input type="radio" name="question_3" value="no"> NO
    <form class="question_4" action="index.html" method="post">
      <h4 class="subtitle is-4" id="question_4">Question 4: <br><br>Is there any feedback or comments that you would like add?</h4>
      <textarea rows="8" cols="80"></textarea>
    <button>Submit</button>
  </div>
  <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
  <script src="app.js"></script>
</body>
</html>
