<div class="s-container"><h2 class="slogan">Help Us To Serve You Better </h2></div>
<div class="thank_box">
  <!-- <h1 class="thank_you"> Thanks For Completing The Survey! </h1> -->
  <img src="https://static1.squarespace.com/static/5499ebf9e4b0d5ac04a1429a/5499f01fe4b0377f16cffc37/549c4947e4b0f8d712c21483/1419528520446/ThankYouCard2_SylviaLoveridge.jpg?format=500w" alt="">
</div>
