body {
/*background-image: url("images/wood_wallpaper.jpg");*/
background-size: 100%;
}
body .box {
background-color: white;
width: 750px;
height: 600px;
margin-left: auto;
margin-right: auto;
position: relative;
top: 50%;
transform: translateY(15%);
}
h2 {
  text-align: center;
}
.question_1 {
  text-align: center;
}
.field {
  display: block;
  position: absolute;
}
input[type=radio] {
 width: 20px; height: 20px;
 -webkit-border-radius: 22px; -moz-border-radius: 22px; border-radius: 22px;
 border: 1px solid #bbb;
 vertical-align: middle;
}

.submit-btn {
  display: block;
  padding: 10px 20px;
  font-size: 10px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 6px;
  box-shadow: 0 9px #999;
  margin-left: 45%;
}

.submit-btn:hover {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
